body {
  background: #222;
  background-repeat: repeat-x;
}

input {
  width: 80%;
  align-content: center;
}

#research {
   margin-left: 1cm;
   font-size: 0.8cm;
  color: #f4f4f4f4;
 }

#result {
  margin-left: 1cm;
  font-size: 0.8cm;
  color: #e50914;
}

#movie {
  margin-left: 1cm;
}
