body {
  background: #333333;
  background-repeat: repeat-x;
}

input {
  width: 80%;
  align-content: center;
}

#research {
  margin-left: 1cm;
  font-size: 0.8cm;
  color: #e50914;
}

#result {
  margin-left: 1cm;
  font-size: 0.8cm;
}
