#connect{
  color: white;
}
#connect:hover {
  color: burlywood;
  cursor: pointer;
}
#profil{
  width: 40px;
  height: 40px;
}

#trendingsMovies{
  margin-left: 13%;
  margin-top: 5%;
  text-color:  #f5f5f5;
}

#trendingsSeries{
  margin-left: 13%;
  margin-top: 30%;

}

h3, h2, h4{color:  #f5f5f5;}

hr{
  background-color: #f5f5f5 ;
  width: 90%;
  margin-right: 10%;
}

h1{

  font-family: Kanit;
}
