
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand col-md-1" href="#"> <img src="../assets/home.png"/> </a>
    <h1 class="navbar-brand col-md-9">Nom du Site</h1>
    <a class="navbar-brand col-md-1" id="rechercher" (click)="rechercher()" > <img src="../assets/rechercher.png"/></a>
     <a *ngIf="user" class="navbar-brand col-md-1" id="connected"  (click)="profile()"> <img src="../assets/connected.png"/></a>
     <a *ngIf="!user" class="navbar-brand col-md-1" id="connect" (click)="login()" > <img src="../assets/connect.png"/></a>
</nav>

<button (click)="login()">Connexion via Google</button>


