
<section id="noresult" *ngIf="!trendings">
  <div>Aucun film trouvé ...</div>
</section>

  <div *ngFor="let elem of trendings.results | slice:start:end">

    <div class="gallery" >
      <a *ngIf="playlist" (click)="supprimerMoviePlaylist(elem.id)">
        <img class="close" style="height:30px;width:30px;" src="../assets/close_button.png" (click)="closeMovie()"/>
      </a>
      <div (click)="openMovie(elem)">
        <img [src]="getPath(elem.poster_path)">
        <div *ngIf="!elem.title"  class="desc" >{{elem.name}}</div>
        <div *ngIf="!elem.name"  class="desc" >{{elem.title}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="openMove">
    <div class="modal" >
      <div class="modal-content">
        <img id="close" class="close" src="../assets/white_close.png" (click)="closeMovie()"/>
        <app-movie [_movie]="movie" [_credits]="credits">"</app-movie>
      </div>
    </div>
  </div>
