div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}


div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}


div.desc {
  padding: 15px;
  text-align: center;
  cursor: pointer;
}

.desc{color:  #f5f5f5;}

img{
  width: 100%;
  height: auto;
}

/* Modèle de modal par W3Schools */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  background-color: #333333;
  width: 80%;
}

.close {
  color: #f5f5f5;
  float: right;
  height: 30px;
  width: 30px;
  margin-left: 97%;
  opacity: inherit;

}

.remove.close{
  background-color: white;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#noresult {
  color: #f4f4f4f4;
}
.remove{
  position: absolute;
}
