#connect{
  color: white;
}
#connect:hover {
  color: burlywood;
  cursor: pointer;
}
#profil{
  width: 40px;
  height: 40px;
}

#trendingsMovies{
  margin-left: 13%;
  margin-top: 5%;
}

#trendingsSeries{
  margin-left: 13%;
  margin-top: 30%;
}

body{
  position: absolute;
  height: 1500px;
  width: 100%;
  background-color: #222;
}


