<script src="app.component.spec.ts"></script>
  <app-navbar></app-navbar>
<button (click)="login()">Connexion via Google</button>
<app-user></app-user>

  <hr/>
  <pre *ngIf="lists">
    {{lists | async | json}}
  </pre>


  <app-movie [_movie]="movie" [_credits]="credits">"</app-movie>

  <table *ngIf="!!trendings">
    TRENDINGS
    <app-list-movies [trendings]="trendings"></app-list-movies>
  </table>
  <section *ngIf="!trendings">
    PAS DE TRENDINGS
  </section>

  <hr/>
  <section *ngIf="movie">
    <img [src]="getPath(movie.poster_path)" />
    <pre>{{movie | json}}</pre>
  </section>
  <section *ngIf="!movie">
    Pas encore de films à afficher...
  </section>
