<link rel="stylesheet" href="/src/app/user/user-liste.component.css">
<div>
  <div class="wrapper">
    <!-- Sidebar -->
    <div id="sidebar">
      <div class="sidebar-header">
        <h3>Mes listes :</h3>
      </div>
      <section id="listeSection">
        <a (click)="suprimerListe(favoris)">
          <img src="../assets/delete.png"/>
        </a>
        <label (click)="afficherListe(favoris, favoris.name )">{{ favoris.name }}</label>
      </section>
      <section *ngFor="let liste of listes">
        <a (click)="suprimerListe(liste)">
          <img src="../assets/delete.png"/>
        </a>
        <label [id]="liste.name" (click)="afficherListe(liste, liste.name );">{{ liste.name }}</label>
      </section>
      <form id="addListForm"(submit)="ajouterListe(playlist.value, $event); playlist.value = '';">
        <p>Créer une nouvelle liste : </p>
        <div class="form-group">
          <input #playlist name="name" type="text" size="18" required>
        </div>
        <button type="submit" class="btn btn-default">Ajouter</button>
      </form>
    </div>

    <div id="sidebar">
      <div class="sidebar-header">
        <h3>Mes listes partagées:</h3>
      </div>
      <section *ngFor="let liste of listesPartagees">
        <a (click)="suprimerListe(liste)">
          <img src="../assets/delete.png"/>
        </a>
        <label [id]="liste.name" (click)="afficherListe(liste, liste.name );">{{ liste.name }}</label>
      </section>
    </div>

  </div>
  <div *ngIf="open" id="affichage">
    <h1 #playlistName id="nameList" [id]="nameList">{{ nameList }}</h1>
    <form id="shareForm"(submit)="partagerListe(list, email.value)">
      <input #email id="inputMail" size="30">
      <button id="buttonShare" type="submit" class="btn btn-default">Partager <img src="../assets/share_arrow.png"/></button>
    </form>
    <hr/>
    <div *ngIf="listMovies" class="list">
      <app-list-movies [trendings]="listMovies" [_list]="list" [_playlist]="true"></app-list-movies>
    </div>
  </div>
</div>
<script>
  $("label").onclick(function() {
    $(this).toggleClass("selected");
    alert("lol");
  });
</script>
