.wrapper {
  display: inline-block;
  align-items: normal;
  height: 100%;
  float: left;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  padding: 25px;
}

.sidebar.active {
  margin-left: -250px;
}

.sidebar {
  background: #555555;
  color: #fff;
  transition: all 0.3s;
}

.sidebar .sidebar-header {
  padding: 20px;
  background: #333333;
}

button {
  background-color: #e50914;
}

pre {
  color: #fff;
}

.list{
  margin-left: 18%;
}

h1{
  color: #f5f5f5;
  margin-left: 2%;
}
hr{
  background-color: #f5f5f5;
  width: 80%;
  margin-right: 20%;

}

#nameList{
  display: inline-block;
  position: relative;
  margin-top: 1%;
}

#shareForm{
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 15%;
  margin-top: 1%;
}

#buttonShare{
  margin-left: 11%;
  position: absolute;
  display: inline-flex;
  color: whitesmoke;
  font-size: 20px;
  margin-bottom: 1%;
  width: 50%;
}

#inputMail{
  height: 46px;
}

hr{
  margin-left: 2%;
}

#listeSection{
  margin-top: 10%;
}

#addListForm{
  margin-top: 5%;
}

.btn{
  width: 79%;
  margin-left: 10%;
  border-radius: 0;
  border-color: black;
  color: white;
  font-weight: bold;
}

.selected{
  padding: 4px 3% 4px 4px;
  border: 2px solid black;
  background-color: #333333;
}

.arrow{
  color: white;
  display: inline-block;
  margin-left: 6%;
  position: absolute;
  margin-top: -1.4%;
  float: right;
}

.listDiv{
  display: inline-block;
  width: 83%;
}

.listDiv:hover, .listDiv label:hover{
  cursor: pointer;
  color: #e50914;
}
label{
  width: max-content;
}

.delete:hover{
  cursor: pointer;
  background-color: snow;

}
