.poster{
  width: 300px;
  height: 400px;
}
/*
.movie{
  margin-left: 20%;
  margin-right: 20%;
}*/

ul{
  text-decoration: none;
}

li {
  margin: 10px;
}

li:hover{
  background-color: #6b6363;
  cursor: pointer;
}
li img{
  margin-right: 5px;
}

.add{
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}

.detail_title{
  font-weight: bold;
}
.description{
  margin-top: 10px;
  width: 80%;
}

.media-body{

  margin-left: 5%;
}

h3, label, h1, h4, li, .description, div{
  color :#f5f5f5;
}

h1{
  background-color: #e50914;
}

#dropdownDiv{
  display: inline-block;
  float: left;
}

#favButton{
  display: inline-block;
  float: left;
  margin-top: 7px;
  margin-right: 15px;
}

#addButton{
  color: #000;
}

#addButton:hover{
  cursor: pointer;
  background-color: #333333;
  color: #cccccc;

}

#listsButtons{
  position: absolute;
  display: flex;
  float: left;
}

#movieDetails{
  margin-top: 9%;
}

#dropdownLists{
  background-color: grey;
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
}
