
  <div class="movie media" >

    <img class="media-object pull-left poster" [src]="getPath(movie.poster_path)" />

    <div class="media-body">

      <h1 class="span12">{{movie.title}}</h1>

      <div *ngIf="user">
        <button *ngIf="open&&user" (click)="switch()" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1">
          <img src="../assets/open.png">
        </button>
        <button *ngIf="!open&&user" (click)="switch()" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2">
          <img src="../assets/close.png">
        </button>
        <ul *ngIf="!open" class="dropdown-menu" style="display:contents" aria-labelledby="dropdownMenu">
          <li *ngFor="let liste of listes | async"><a *ngIf="liste.payload.val().name !== 'Favoris'" (click)="ajouterFilmListe(liste, movie.id.toString(), true)"><img src="../assets/open.png"/> {{ liste.payload.val().name }}</a></li>
          <li><a routerLink="/user" routerLinkActive="active"><img src="../assets/open.png"/>Ajouter une playlist</a></li>
        </ul>

        <div *ngFor="let liste of listes | async">
          <img *ngIf="liste.payload.val().name === 'Favoris'  && !estFavoris(liste)" class="add" src="../assets/add_fav2.png" (click)="ajouterFilmListe(liste, movie.id.toString(), false)">
          <img *ngIf="liste.payload.val().name === 'Favoris' && estFavoris(liste)" class="add" src="../assets/rem_fav.png" (click)="supprimerFilmListe(liste, movie.id.toString())">
        </div>

    </div>

      <div>
        <label class="detail_title">Genres :</label>
        <label *ngFor="let genre of movie.genres">
           {{genre.name}}/
        </label>

      </div>
      <label class="detail_title">Distribution :</label>
      <ul>
          <li *ngFor="let cast of credits.cast | slice:0:5">
            {{cast.character}} : {{cast.name}}
          </li>
      </ul>

      <div>
        <label class="detail_title">Durée :</label>
        {{movie.runtime}} minutes
      </div>

      <div>
        <label class="detail_title">Note :</label>
        {{movie.vote_average}} / 10
      </div>

    </div>

  </div>
  <label class="detail_title" style="margin-top: 2%">Synopsis :</label>
  <div class="description">
    {{movie.overview}}
  </div>

<section *ngIf="!movie">
  Pas encore de films à afficher...
</section>
