.poster{
  width: 300px;
  height: 400px;
}
/*
.movie{
  margin-left: 20%;
  margin-right: 20%;
}*/

ul{
  text-decoration: none;
}

.add{
  margin-left: 1%;
  margin-right: 1%;
  cursor: pointer;
}

.detail_title{
  font-weight: bold;
}
.description{
  margin-top: 1%;
  width: 80%;
}

.media-body{
  margin-left: 5%;
}

